  

/* Main */

#main {
  background-color: _palette(bg-alt);
  margin-left: 5vw;
  margin-right: 5vw;

  > * {
    border-top: solid 1px _palette(border);

    &:first-child {
      border-top: 0;
    }

    @include inner;
  }

  &.alt {
    background-color: transparent;
    border-bottom: solid 1px _palette(border);
  }
}
